<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14827065391-d4rpceuhmbvjfefto8tcma2ce2i0fa0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14827065391-d4rpceuhmbvjfefto8tcma2ce2i0fa0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>14827065391-0rm39h0sg2jafhgljcnnnfg4lo5jjl69.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVeaRJcU2dArazAXLnDF-4uuSIXIQkefA</string>
	<key>GCM_SENDER_ID</key>
	<string>14827065391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.higgle.dakuapp</string>
	<key>PROJECT_ID</key>
	<string>daku-e08e5</string>
	<key>STORAGE_BUCKET</key>
	<string>daku-e08e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14827065391:ios:1679e9c27029053b28b6da</string>
	<key>DATABASE_URL</key>
	<string>https://daku-e08e5.firebaseio.com</string>
</dict>
</plist>